@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #5347d6;
  --color-highlight: #eae8fb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

input,
textarea,
select {
  @apply border-2 border-primary rounded-md p-2 w-full;
  @apply shadow-md;
  margin-bottom: 10px;
}

input:focus textarea:focus select:focus {
  @apply border-primary;
}

h1 {
  @apply text-gray-800 mb-2 text-xl;
}

label {
  @apply text-gray-800;
}

table.basic {
  @apply w-full rounded-sm shadow-md shadow-md;
}

table.basic thead tr,
table.basic thead th {
  @apply border-b border-gray-500 px-4 py-2;
}

table.basic tbody tr td {
  @apply text-sm uppercase border-b border-gray-500 px-4 py-2;
}

table.basic tr td {
  @apply px-4 py-1;
}

.btn-default {
  @apply bg-white text-gray-600 border-2 border-gray-200 px-4 py-2 rounded-md cursor-pointer hover:bg-gray-200 items-center;
}

.btn-warning {
  @apply bg-red-700 text-white px-4 py-2 rounded-md cursor-pointer hover:bg-red-800;
}

.btn-primary {
  @apply bg-primary text-white px-4 py-2 rounded-md cursor-pointer hover:bg-purple-700;
}

.btn-red {
  @apply bg-red-400 text-white px-3 rounded-md cursor-pointer hover:bg-red-800 items-center;
}
